<ion-content>
  <ion-grid>
      <ion-col size="6" class="left" >Are these 5 relationships you want to focus on?</ion-col>
      <ion-col size="6" class="right">
        <ion-list class="center">
          <ion-row >
            <ion-avatar>
                  <img src="../assets/hannah.png">
            </ion-avatar>
            <ion-label>Hannah Lee</ion-label>
          </ion-row>
            <ion-row>
              <ion-avatar>
                    <img src="../assets/sam.png">
                </ion-avatar>
                <ion-label>Sam Umirdinov</ion-label>
            </ion-row>
              <ion-row>
                <ion-avatar>
                      <img src="../assets/alex.png">
                </ion-avatar>
                <ion-label>Alex Le</ion-label>
              </ion-row>
                <ion-row>
                  <ion-avatar>
                        <img src="../assets/avatar.png">
                  </ion-avatar>
                  <ion-label>Ajit Dipak</ion-label>
                </ion-row>
                  <ion-row>
                    <ion-avatar>
                          <img src="../assets/avatar.png">
                    </ion-avatar>
                    <ion-label>Sefunmi Osinaike</ion-label>
                  </ion-row>
        </ion-list>        
    </ion-col>
  </ion-grid>
<ion-grid>
  <ion-row class="next">
    <ion-col size="2"></ion-col>
    <ion-col class="getStarted" (click)="next()">Set Goals</ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
</ion-grid>
</ion-content>
