<p>

</p>
<ion-header class="pad">
  <h1>Check-In</h1>
    <p>Do these goals still look good for next week?</p>
    </ion-header>
<ion-content class="pad">
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
            <img src="../assets/hannah.png">
      </ion-avatar>
      <ion-label>Hannah Lee</ion-label>
      <ion-chip>
        <ion-icon name="circle"></ion-icon>
        <ion-label>1x</ion-label>
      </ion-chip>
      <ion-chip>
      <ion-icon name="circle"></ion-icon>
          <ion-label>2x</ion-label>
      </ion-chip>
      <ion-chip>
      <ion-icon name="checkmark-circle"></ion-icon>
          <ion-label>3x</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
            <img src="../assets/sam.png">
      </ion-avatar>
      <ion-label>Sam Umirdinov</ion-label>
      <ion-chip>
        <ion-icon name="circle"></ion-icon>
        <ion-label>1x</ion-label>
      </ion-chip>
      <ion-chip>
      <ion-icon name="checkmark-circle"></ion-icon>
          <ion-label>2x</ion-label>
      </ion-chip>
      <ion-chip>
      <ion-icon name="circle"></ion-icon>
          <ion-label>3x</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
            <img src="../assets/alex.png">
      </ion-avatar>
      <ion-label>Alex Le</ion-label>
      <ion-chip>
        <ion-icon name="checkmark-circle"></ion-icon>
        <ion-label>1x</ion-label>
      </ion-chip>
      <ion-chip>
      <ion-icon name="circle"></ion-icon>
          <ion-label>2x</ion-label>
      </ion-chip>
      <ion-chip>
      <ion-icon name="circle"></ion-icon>
          <ion-label>3x</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
            <img src="../assets/avatar.png">
      </ion-avatar>
      <ion-label>Ajit</ion-label>
      <ion-chip>
        <ion-icon name="checkmark-circle"></ion-icon>
        <ion-label>1x</ion-label>
      </ion-chip>
      <ion-chip>
      <ion-icon name="circle"></ion-icon>
          <ion-label>2x</ion-label>
      </ion-chip>
      <ion-chip>
      <ion-icon name="circle"></ion-icon>
          <ion-label>3x</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
            <img src="../assets/avatar.png">
      </ion-avatar>
      <ion-label>Sefunmi</ion-label>
      <ion-chip>
        <ion-icon name="checkmark-circle"></ion-icon>
        <ion-label>1x</ion-label>
      </ion-chip>
      <ion-chip>
      <ion-icon name="circle"></ion-icon>
          <ion-label>2x</ion-label>
      </ion-chip>
      <ion-chip>
      <ion-icon name="circle"></ion-icon>
          <ion-label>3x</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col class="getStarted" (click)="next()"> Confirm </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
